rps.ryyan.cc {
	header / {
		Access-Control-Allow-Origin *
	}
	proxy / localhost:5000 {
		transparent
	}
	proxy /ws localhost:5001 {
		transparent
		websocket
	}
	gzip
}

4dbank.ryyan.cc {
	header / {
		Access-Control-Allow-Origin *
	}
	proxy / localhost:5002 {
		transparent
	}
	gzip
}

ryyan.cc {
	proxy / localhost:5555
	gzip
}
