rps.ryyan.cc {
        header {
                Access-Control-Allow-Origin *
        }

        reverse_proxy localhost:5000
        reverse_proxy /ws/* localhost:5001
        encode zstd gzip
}

4dbank.ryyan.cc {
        header { 
                Access-Control-Allow-Origin *
        }

        reverse_proxy localhost:5002
        encode zstd gzip
}

catbin.ryyan.cc {
        header {
                Access-Control-Allow-Origin *
        }

        reverse_proxy localhost:5003
        encode zstd gzip

}

ryyan.cc {
        reverse_proxy / localhost:5555
        encode zstd gzip
}